.wrapper {
  display: flex;
  justify-content: center;
}

.search {
  padding: 0 80px;
  flex-direction: column;
}

.header {
  height: 276px;
  display: flex;
  align-items: flex-end;
}

.header_search {
  position: sticky;
  height: auto;
  top: 0;
  z-index: 100;
  background-color: var(--color-bgc);
}

.content {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.noResult {
  font-family: Arial;
  font-weight: 400;
  font-style: Regular;
  font-size: var(--spacing-xl);
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-nrs);
  text-align: left;
}

@media (max-width: 767px) {
  .search {
    padding: 0 var(--spacing-xl);
  }

  .header_search {
    padding: var(--spacing-md) 0;
  }
}
