.form {
  width: 512px;
  height: 48px;
  display: flex;
  gap: var(--spacing-sm);
  position: sticky;
  z-index: 100;
}

.search {
  margin: 40px 0 var(--spacing-xl) 0;
}

@media (max-width: 767px) {
  .form {
    width: 100%;
  }

  .search {
    margin: 0;
  }
}
