.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 204px);
  gap: var(--spacing-sm);
}

.card {
  width: 204px;
  height: 204px;
  overflow: hidden;
  cursor: pointer;
  border-radius: var(--spacing-xs);
  border: 1px solid var(--color-brd);
}

.image {
  width: 204px;
  height: 204px;
}

@media (max-width: 660px) {
  .card {
    width: 114px;
    height: 114px;
    cursor: pointer;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(114px, 1fr));
  }
}
