:root {
  --color-bgc: #fff;
  --color-btn: #eb0c0c;
  --color-btn-hov: #c30000;
  --color-inp: #eeeeee;
  --color-inp-hov: #e6e6e6;
  --color-txt: #000;
  --color-txt-wth: #fff;
  --color-brd: #ebebeb;
  --color-nrs: #787878;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 15px;
  --spacing-xl: 16px;
  --spacing-2xl: 24px;
  --spacing-3xl: 36px;
  --spacing-xxl: 40px;
  --spacing-sxl: 48px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

body {
  color: var(--color-txt);
  background-color: var(--color-bgc);
  min-height: 100dvh;
  height: 100dvh;
  width: 100%;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button,
input {
  border: none;
}
